In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
rating_df = pd.read_csv("../datasets/grouped_hygiene_df.csv")

In [3]:
rating_df

                         id    rating
0    -J8VuX3wGrYSOBu2G0hMsw  3.666667
1    -KfM32STVYND4v_9l1YRug  4.000000
2    -OixbLnFLCzQclxCSbUQ8w  5.000000
3    -OmMU5ZjOKlB9K6kSCFv5A  4.000000
4    -Q8MYIWoE4EsGQtudIOY0w  2.333333
..                      ...       ...
745  zPMSuQJRpXi11G_Tqv1LJQ  3.500000
746  ziIb68Res3eMw7fz83yFxw  2.000000
747  zjks9r34-5cw9FrONfpsCg  4.200000
748  znlol6dCKwjoXpZZwV_ZOg  1.000000
749  zvxUXRQOqzsyFiCKS09_JQ  2.714286

[750 rows x 2 columns]

In [4]:
restaurant_df = pd.read_csv("../datasets/concat_restaurant_hygiene.csv")

In [11]:
restaurant_df

,Unnamed: 0,CAMIS,BORO,ZIPCODE,Latitude,Longitude,CUISINE DESCRIPTION,SCORE,GRADE,GRADE DATE,id,name,review_count,rating,price,location,url
0,1014,41585435.0,Manhattan,10004,40.703947,-74.010297,Other,12.0,A,2023-03-16,_YmyHYuM5On1zW17aOf3ZA,Terrace Fish & Chips,108,4.0,$$,"{'address1': '77 Pearl St', 'address2': '', 'a...",https://www.yelp.com/biz/terrace-fish-and-chip...
1,2402,50116256.0,Other,10455,40.812433,-73.905192,Bakery Products/Desserts,13.0,A,2023-03-16,ZqhtYd8i4N8DL78GVMwX6g,Pitusa Bakery,45,4.0,$,"{'address1': '831 E 149th St', 'address2': '',...",https://www.yelp.com/biz/pitusa-bakery-bronx-2...
2,493,41098952.0,Manhattan,10014,40.728340,-74.005343,Tex-Mex,5.0,A,2023-03-16,etceI1Kf9CTAu7VpRqy65Q,Chipotle Mexican Grill,84,3.0,$,"{'address1': '200 Varick St Frnt B', 'address2...",https://www.yelp.com/biz/chipotle-mexican-gril...
3,1640,41636080.0,Other,10454,40.807889,-73.929393,American,26.0,P,2023-03-16,fAQVVgDt88mW739YJgKQdQ,Charlies Bar & Kitchen,393,4.0,$$,"{'address1': '112 Lincoln Ave', 'address2': ''...",https://www.yelp.com/biz/charlies-bar-and-kitc...
4,2166,50106042.0,Queens,11106,40.755732,-73.927922,Japanese,12.0,A,2023-03-16,ckuFutONOBo_rrscCkLUBw,Susuru Ramen,156,5.0,$$,"{'address1': '33-19 36th Ave', 'address2': Non...",https://www.yelp.com/biz/susuru-ramen-astoria?...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1600,1963,40729439.0,Queens,11372,40.747371,-73.886460,Latin American,12.0,A,2022-01-03,mSBTahVxcW-NllrYz_g-GA,Cositas Ricas,174,3.0,$$,"{'address1': '7919 Roosevelt Ave', 'address2':...",https://www.yelp.com/biz/cositas-ricas-jackson...
1601,2201,40370436.0,Manhattan,10016,40.749349,-73.978941,Italian,12.0,A,2022-01-03,o2SAcKbfOMkA71xUfyee6Q,Rossini's,260,4.0,$$$,"{'address1': '108 E 38th St', 'address2': '', ...",https://www.yelp.com/biz/rossinis-new-york?adj...
1602,212,40423403.0,Manhattan,10016,40.741253,-73.981390,Bakery Products/Desserts,11.0,A,2022-01-03,MMg42dFFw9r7KKroTX9xKQ,La Delice Pastry Shop,236,3.0,$$,"{'address1': '372 3rd Ave', 'address2': '', 'a...",https://www.yelp.com/biz/la-delice-pastry-shop...
1603,1051,50092281.0,Queens,11354,40.759277,-73.830009,Coffee/Tea,12.0,A,2022-01-03,bn0zZ9nT_j1INOwfpxWmEw,Tiger Sugar,760,4.0,$$,"{'address1': '136-20 Roosevelt Ave', 'address2...",https://www.yelp.com/biz/tiger-sugar-flushing-...
1604,2413,40658440.0,Other,10304,40.589569,-74.101310,Other,9.0,A,2022-01-03,D8TXbeZE0Mu2W3klMr-NMg,Hillside Gourmet,30,2.5,$$,"{'address1': '1664 Richmond Rd', 'address2': '...",https://www.yelp.com/biz/hillside-gourmet-stat...

In [5]:
date_df = pd.read_csv("../datasets/grouped_date_df.csv")

In [12]:
date_df

                          id    rating
0     --FoSeUBHQb_p6iTntY4KA  4.666667
1     -2kUyfQrEBxYXfNKfDwAJQ  1.800000
2     -4wt4Uau_zC5ilPMrIayxQ  4.250000
3     -71z5kAJS79mfmgR-DyjiQ  1.111111
4     -9MLyUR2SyI2zXBBvksj3A  4.200000
...                      ...       ...
1533  ztTcT8KmnKtMtcCdFRBO4w  2.000000
1534  zuaO8_t7NWCWP7ewuuuTBg  1.857143
1535  zuxZtAredHPR1wrx12g1ng  3.333333
1536  zvxUXRQOqzsyFiCKS09_JQ  3.280000
1537  zzrm1Da_CuUU-X0wzPTCCQ  3.000000

[1538 rows x 2 columns]

In [6]:
df = pd.merge(rating_df, restaurant_df,  how='inner', left_on=['id'], right_on = ['id'])

In [7]:
# Rewrite Correlation

hygiene_grades = df['GRADE'].copy()

revised_grade = []
for each in hygiene_grades:
  if each == 'A':
    revised_grade.append(0)
  elif each == "B":
    revised_grade.append(1)
  elif each == "C":
    revised_grade.append(2)
  else:
    revised_grade.append(3)

In [8]:
df_corr = df.copy()
df_corr["GRADE_R"] = revised_grade

correlation = df_corr["GRADE_R"].corr(df_corr["rating_x"])
print("Correlation coefficient:", correlation)

Correlation coefficient: -0.049036617201871725

In [9]:
df_corr

,id,rating_x,Unnamed: 0,CAMIS,BORO,ZIPCODE,Latitude,Longitude,CUISINE DESCRIPTION,SCORE,GRADE,GRADE DATE,name,review_count,rating_y,price,location,url,GRADE_R
0,-J8VuX3wGrYSOBu2G0hMsw,3.666667,2074,50110277.0,Manhattan,10017,40.756357,-73.977852,Japanese,13.0,A,2022-04-19,Katsu-Hama,1552,4.0,$$,"{'address1': '11 E 47th St', 'address2': '', '...",https://www.yelp.com/biz/katsu-hama-new-york?a...,0
1,-KfM32STVYND4v_9l1YRug,4.000000,1110,50100280.0,Brooklyn,11201,40.692196,-73.986715,Other,12.0,A,2022-07-08,Xi'an Famous Foods,98,4.0,$$,"{'address1': '54 Willoughby St', 'address2': '...",https://www.yelp.com/biz/xian-famous-foods-bro...,0
2,-OixbLnFLCzQclxCSbUQ8w,5.000000,1754,50004862.0,Manhattan,10021,40.769822,-73.957626,Other,2.0,A,2022-03-17,Up Thai,2882,4.5,$$,"{'address1': '1411 2nd Ave', 'address2': '', '...",https://www.yelp.com/biz/up-thai-new-york?adju...,0
3,-OmMU5ZjOKlB9K6kSCFv5A,4.000000,2171,40814139.0,Manhattan,10065,40.760387,-73.961390,Coffee/Tea,11.0,A,2022-02-03,Starbucks,65,2.5,$$,"{'address1': '1102 1st Ave', 'address2': '', '...",https://www.yelp.com/biz/starbucks-new-york-32...,0
4,-Q8MYIWoE4EsGQtudIOY0w,2.333333,272,50072997.0,Manhattan,10028,40.776295,-73.952907,Other,42.0,P,2023-02-16,Bua Thai Ramen & Robata Grill,1976,4.5,$$,"{'address1': '1611 2nd Ave', 'address2': None,...",https://www.yelp.com/biz/bua-thai-ramen-and-ro...,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,zPMSuQJRpXi11G_Tqv1LJQ,3.500000,125,50012840.0,Queens,11421,40.691845,-73.863999,Chinese,13.0,A,2022-11-28,Mr. Wonton,31,3.5,$,"{'address1': '78-05 Jamaica Ave', 'address2': ...",https://www.yelp.com/biz/mr-wonton-woodhaven?a...,0
746,ziIb68Res3eMw7fz83yFxw,2.000000,2425,50100989.0,Brooklyn,11249,40.716327,-73.965983,Other,4.0,A,2022-10-07,Two Hands,51,3.5,$$,"{'address1': '262 Kent Ave', 'address2': '', '...",https://www.yelp.com/biz/two-hands-brooklyn?ad...,0
747,zjks9r34-5cw9FrONfpsCg,4.200000,697,50000153.0,Manhattan,10005,40.705989,-74.006243,American,50.0,P,2022-12-29,The Best of New York Food,107,3.5,$,"{'address1': '150 Water St', 'address2': '', '...",https://www.yelp.com/biz/the-best-of-new-york-...,3
748,znlol6dCKwjoXpZZwV_ZOg,1.000000,1,50058248.0,Brooklyn,11217,40.680557,-73.977661,Tex-Mex,35.0,P,2022-11-30,Nacho Macho Taco,232,4.5,$,"{'address1': '82 5th Ave', 'address2': '', 'ad...",https://www.yelp.com/biz/nacho-macho-taco-broo...,3
749,zvxUXRQOqzsyFiCKS09_JQ,2.714286,186,40599004.0,Manhattan,10012,40.724821,-73.994585,Other,10.0,A,2022-03-23,Botanica Bar,413,4.0,$$,"{'address1': '47 E Houston St', 'address2': 'S...",https://www.yelp.com/biz/botanica-bar-new-york...,0

In [15]:
df2 = pd.merge(rating_df, date_df,  how='inner', left_on=['id'], right_on = ['id'])

In [16]:
# Paired T-test
from scipy.stats import ttest_rel
t_statistic, p_value = ttest_rel(df2['rating_x'], df2['rating_y'])
print('t-statistic:', t_statistic)
print('p-value:', p_value)

t-statistic: -5.987636317977422
p-value: 3.3023079393818453e-09

In [18]:
# Wilcoxon signed-rank test
from scipy.stats import wilcoxon
df2['difference'] = df2['rating_y'] - df2['rating_x']
statistic, p_value = wilcoxon(df2['difference'])
print('Wilcoxon statistic:', statistic)
print('p-value:', p_value)

Wilcoxon statistic: 108192.0
p-value: 5.7908537956491535e-06