# Clean hygiene data

In [61]:
import pandas as pd
import numpy as np

In [102]:
df = pd.read_csv("DOHMH_New_York_City_Restaurant_Inspection_Results.csv", encoding='latin-1')

In [103]:
columns = ['CAMIS', 'DBA', 'BORO', 'ZIPCODE', 'Latitude', 'Longitude', 'CUISINE DESCRIPTION', 'SCORE', 'GRADE', 'GRADE DATE']

In [123]:
new_df = df[columns]
new_df

,CAMIS,DBA,BORO,ZIPCODE,Latitude,Longitude,CUISINE DESCRIPTION,SCORE,GRADE,GRADE DATE
0,50041578.0,33,Brooklyn,11217.0,40.686884,-73.977659,Creole,24.0,Z,12/02/2022
1,50041578.0,33,Brooklyn,11217.0,40.686884,-73.977659,Creole,0.0,NaN,NaN
2,50041578.0,33,Brooklyn,11217.0,40.686884,-73.977659,Creole,11.0,A,12/11/2019
3,50041578.0,33,Brooklyn,11217.0,40.686884,-73.977659,Creole,0.0,NaN,NaN
4,50041578.0,33,Brooklyn,11217.0,40.686884,-73.977659,Creole,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
206971,50122198.0,NaN,Brooklyn,11220.0,40.645167,-74.013938,NaN,NaN,NaN,NaN
206972,50104913.0,NaN,Queens,11354.0,40.761782,-73.832992,NaN,NaN,NaN,NaN
206973,50114354.0,NaN,Brooklyn,11204.0,40.611879,-73.990697,NaN,NaN,NaN,NaN
206974,50120707.0,NaN,Manhattan,10026.0,40.801415,-73.960218,NaN,NaN,NaN,NaN
206975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
new_df = new_df[new_df['GRADE'].notna()]
df.shape, new_df.shape

((206976, 32), (102404, 10))

In [125]:
import datetime

temp_df = new_df.copy()

In [126]:
temp_df['GRADE DATE'] = pd.to_datetime(temp_df['GRADE DATE'])
date = np.datetime64(datetime.date(2022, 1, 1))
data = temp_df[temp_df['GRADE DATE'] >= date]

In [127]:
data.shape

(53361, 10)

In [128]:
# remove rows where borough is unavailable
data = data[data['BORO']!="0"]

In [129]:
data.shape

(53355, 10)

In [130]:
# remove rows where latitude and longitude are unavailable
data = data[data['Latitude'].notna()]
data = data[data['Longitude'].notna()]

In [131]:
data.shape

(53305, 10)

In [132]:
# remove duplicate rows
data = data.drop_duplicates()

In [133]:
data.shape

(20745, 10)

In [134]:
# random sample 5000 rows
data = data.sample(n=5000)

In [135]:
 # make sure indexes pair with number of rows
data = data.reset_index()

In [136]:
data

,index,CAMIS,DBA,BORO,ZIPCODE,Latitude,Longitude,CUISINE DESCRIPTION,SCORE,GRADE,GRADE DATE
0,35580,50088430.0,CHICKEN SHACK,Bronx,10465.0,40.820079,-73.817840,Chicken,10.0,A,2022-12-06
1,158419,50086984.0,RUBY'S VINTAGE HARLEM,Manhattan,10030.0,40.816644,-73.942730,Mexican,12.0,A,2022-06-02
2,56995,50011586.0,EASTERN CHINESE RESTAURANT,Queens,11106.0,40.765113,-73.931482,Chinese,17.0,B,2022-12-01
3,85589,50098297.0,HUNTSPOINT CHINESE RESTAURANT,Bronx,10459.0,40.819542,-73.892894,Chinese,11.0,A,2022-05-31
4,68196,50033952.0,FOREVER TASTE RESTAURANT,Manhattan,10002.0,40.712854,-73.990005,Chinese,9.0,A,2022-12-19
...,...,...,...,...,...,...,...,...,...,...,...
4995,187046,41090082.0,THE POUR HOUSE OF BAYRIDGE,Brooklyn,11209.0,40.628446,-74.029012,American,12.0,A,2022-10-11
4996,194791,50096757.0,UNIQUE RESTAURANT,Manhattan,10034.0,40.867008,-73.920787,Thai,13.0,A,2022-04-28
4997,53212,50089168.0,DUNKIN,Manhattan,10014.0,40.733555,-74.003273,American,12.0,A,2022-02-28
4998,54875,41717420.0,DUNKIN',Bronx,10451.0,40.825679,-73.918816,Donuts,2.0,A,2022-04-06
4999,158443,40395079.0,RUDY'S BAR & Grill,Manhattan,10036.0,40.759929,-73.991546,American,13.0,A,2023-01-31

In [137]:
hygiene_data = data.drop(columns=['index'])

In [138]:
hygiene_data

,CAMIS,DBA,BORO,ZIPCODE,Latitude,Longitude,CUISINE DESCRIPTION,SCORE,GRADE,GRADE DATE
0,50088430.0,CHICKEN SHACK,Bronx,10465.0,40.820079,-73.817840,Chicken,10.0,A,2022-12-06
1,50086984.0,RUBY'S VINTAGE HARLEM,Manhattan,10030.0,40.816644,-73.942730,Mexican,12.0,A,2022-06-02
2,50011586.0,EASTERN CHINESE RESTAURANT,Queens,11106.0,40.765113,-73.931482,Chinese,17.0,B,2022-12-01
3,50098297.0,HUNTSPOINT CHINESE RESTAURANT,Bronx,10459.0,40.819542,-73.892894,Chinese,11.0,A,2022-05-31
4,50033952.0,FOREVER TASTE RESTAURANT,Manhattan,10002.0,40.712854,-73.990005,Chinese,9.0,A,2022-12-19
...,...,...,...,...,...,...,...,...,...,...
4995,41090082.0,THE POUR HOUSE OF BAYRIDGE,Brooklyn,11209.0,40.628446,-74.029012,American,12.0,A,2022-10-11
4996,50096757.0,UNIQUE RESTAURANT,Manhattan,10034.0,40.867008,-73.920787,Thai,13.0,A,2022-04-28
4997,50089168.0,DUNKIN,Manhattan,10014.0,40.733555,-74.003273,American,12.0,A,2022-02-28
4998,41717420.0,DUNKIN',Bronx,10451.0,40.825679,-73.918816,Donuts,2.0,A,2022-04-06
4999,40395079.0,RUDY'S BAR & Grill,Manhattan,10036.0,40.759929,-73.991546,American,13.0,A,2023-01-31

In [151]:
hygiene_data.to_csv('hygiene_data.csv')

# Download restaurant Data

In [155]:
import json 
import requests 
import warnings
warnings.filterwarnings('ignore')

In [143]:
api_key = '1zUtpuxT6R2vSG0aLwTxt4xwYQXKmz4axt0pe2jRdr8gZ0jP9_c9e8X63AGJse4zgxdLP48Gn5EAATexohRO-aI5bP5DwBBB8Dj0w0lqFXLDKujkOh8NIeYURNsYZHYx'
url = 'https://api.yelp.com/v3/businesses/search'

In [153]:
def search_result(latitude, longitude, term):
    headers = {'Authorization': 'Bearer {}'.format(api_key)}
    url_params = {
        'latitude': latitude,
        'longitude': longitude,
        'term': term,
        'limit': 1
    }
    response=requests.get(url, headers=headers, params=url_params)
    return response.json()

In [158]:
res_df = pd.DataFrame()
for index, row in hygiene_data.iterrows():
    latitude = row['Latitude']
    longitude = row['Longitude']
    term = row['DBA']

    try:
        output_json = search_result(latitude, longitude, term)
        result_item = pd.DataFrame.from_dict(output_json["businesses"])
        res_df = res_df.append(result_item)
    except AttributeError:
        print("failed to retreive results for term".format(term))

KeyError: 'businesses'

In [159]:
res_df

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,s9pxTIWRwCHzMAOHbcmuFw,chicken-shack-astoria,Chicken Shack,https://s3-media2.fl.yelpcdn.com/bphoto/h4s59I...,False,https://www.yelp.com/biz/chicken-shack-astoria...,109,"[{'alias': 'tradamerican', 'title': 'American ...",3.0,"{'latitude': 40.75991227948, 'longitude': -73....","[pickup, delivery]",$$,"{'address1': '36-19 Broadway', 'address2': '',...",+17187213035,(718) 721-3035,10936.818787
0,e08qVeVYBR-0QI_G0NDZpw,sugar-monk-new-york,Sugar Monk,https://s3-media1.fl.yelpcdn.com/bphoto/mMpmMn...,False,https://www.yelp.com/biz/sugar-monk-new-york?a...,152,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...",4.5,"{'latitude': 40.80896, 'longitude': -73.95184}","[delivery, pickup]",$$,"{'address1': '2292 Frederick Douglass Blvd', '...",+19174090028,(917) 409-0028,1144.427093
0,a-hVnSTC12MY5L3t9yOSJw,eastern-chinese-restaurant-long-island-city,Eastern Chinese Restaurant,https://s3-media2.fl.yelpcdn.com/bphoto/wwv8uG...,False,https://www.yelp.com/biz/eastern-chinese-resta...,31,"[{'alias': 'chinese', 'title': 'Chinese'}]",3.0,"{'latitude': 40.7656686822612, 'longitude': -7...","[delivery, pickup]",$,"{'address1': '2105 Broadway', 'address2': '', ...",+17182787333,(718) 278-7333,86.164334
0,JWQlPP4Oxrtwb0rNjnVgIg,hunts-point-chinese-restaurant-bronx,Hunts Point Chinese Restaurant,https://s3-media4.fl.yelpcdn.com/bphoto/Gr5yzW...,False,https://www.yelp.com/biz/hunts-point-chinese-r...,8,"[{'alias': 'chinese', 'title': 'Chinese'}]",4.0,"{'latitude': 40.81965, 'longitude': -73.89302}",[delivery],NaN,"{'address1': '901 Southern Blvd', 'address2': ...",+17183782055,(718) 378-2055,21.323893
0,nXh79laNQ7leN92F5Ore-Q,forever-taste-new-york,Forever Taste,https://s3-media2.fl.yelpcdn.com/bphoto/ovt1wc...,False,https://www.yelp.com/biz/forever-taste-new-yor...,52,"[{'alias': 'chinese', 'title': 'Chinese'}]",4.0,"{'latitude': 40.71293, 'longitude': -73.98994}",[delivery],$,"{'address1': '27 Rutgers St', 'address2': '', ...",+16462888434,(646) 288-8434,25.210535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,ziIb68Res3eMw7fz83yFxw,two-hands-brooklyn,Two Hands,https://s3-media4.fl.yelpcdn.com/bphoto/ldmjoA...,False,https://www.yelp.com/biz/two-hands-brooklyn?ad...,51,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",3.5,"{'latitude': 40.716374709082125, 'longitude': ...","[delivery, pickup]",$$,"{'address1': '262 Kent Ave', 'address2': '', '...",,,18.335996
0,csMJyqX4hwcP-VzvuDH3Bw,dunkin-donuts-baskin-robbins-jamaica-2,Dunkin' Donuts Baskin Robbins,https://s3-media1.fl.yelpcdn.com/bphoto/sQ7nU0...,False,https://www.yelp.com/biz/dunkin-donuts-baskin-...,7,"[{'alias': 'desserts', 'title': 'Desserts'}]",2.5,"{'latitude': 40.706409662962, 'longitude': -73...",[delivery],$,"{'address1': '168-04 Jamaica Ave', 'address2':...",,,14775.461860
0,qEXpXF4p8uM1BfqV5tdYqg,darbars-chicken-and-ribs-queens-2,Darbars Chicken & Ribs,https://s3-media2.fl.yelpcdn.com/bphoto/arE0Dc...,False,https://www.yelp.com/biz/darbars-chicken-and-r...,139,"[{'alias': 'halal', 'title': 'Halal'}, {'alias...",3.5,"{'latitude': 40.688737, 'longitude': -73.8181408}","[delivery, pickup]",$,"{'address1': '12609 Liberty Ave', 'address2': ...",+17185294900,(718) 529-4900,17.159259
0,Qli775QfVY4oFPNu7Cy5Tw,yakitori-sun-chan-new-york,Yakitori Sun-Chan,https://s3-media4.fl.yelpcdn.com/bphoto/RMtHY6...,False,https://www.yelp.com/biz/yakitori-sun-chan-new...,255,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.5,"{'latitude': 40.7995, 'longitude': -73.9686399}",[delivery],$$,"{'address1': '2707 Broadway', 'address2': None...",+12127495008,(212) 749-5008,29.316169
0,tccEPkc0-Q5y7gFwHY6tIA,wendys-brooklyn-2,Wendy's,https://s3-media3.fl.yelpcdn.com/bphoto/9a-K8a...,False,https://www.yelp.com/biz/wendys-brooklyn-2?adj...,35,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",2.0,"{'latitude': 40.66118066463239, 'longitude': -...",[delivery],$,"{'address1': '505 Utica Ave', 'address2': '', ...",+17186041207,(718) 604-1207,29.067550

In [160]:
res_df.to_csv('restaurant_data.csv', index=False)

NameError: name 'res_df' is not defined